<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block head %}
        <title>File Import application</title>
        {% endblock %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pure-nr-min.css' %}"/>
    </head>
    <body>
        <div id="content" class="">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    {% block navs %}{% endblock %}
                </ul>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-5"></div>
                <div class="pure-u-3-5">
                    {% block content %}{% endblock %}
                </div>
                <div class="pure-u-1-5"></div>
            </div>
        </div>
        <div id="footer">
            {% block footer %}
                     
            {% endblock %}
        </div>
    </body>
</html>
