{% extends "base.html" %}
{% block title %} Results {% endblock %}
{% block head %}
{% endblock %}
{% block navs %}
<li class="pure-menu-item">
    <a class="pure-menu-link" href="/upload">
        Upload
    </a>
</li>
<li class="pure-menu-item">
    <a class="pure-menu-link" href="/search_form">
        Search
    </a>
</li>
{% endblock %}
{% block content %}

<table class="pure-table">
    <thead>
        <th>Patient ID</th>
        <th>Barcode</th>
        <th>2D Barcode</th>
        <th>Position</th>
    </thead>
    <tbody>
        {% for row in object_list %}
        <tr class="result-row">
            <td>{{ row.patient_id }}</td>
            <td>{{ row.barcode }}</td>
            <td>{{ row.two_d_barcode }}</td>
            <td>{{ row.position }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
