{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block head %}
{% endblock %}
{% block navs %}
<li class="pure-menu-item">
    <a class="pure-menu-link" href="/upload">
        Upload
    </a>
</li>
<li class="pure-menu-item pure-menu-selected">
    <a class="pure-menu-link" href="/search_form">
        Search
    </a>
</li>
{% endblock %}
{% block content %}
    <form class="pure-form pure-form-aligned" id="search" method="GET" action="/results" target="_blank">
        {% csrf_token %}
            <legend>Test record search</legend>
            <div class="pure-control-group">
                <label for="patient_id">Patient ID</label>
                <input type="text" name="patient_id" id="patient-id"/>
                {% for error in form.patient_id.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-control-group">

                <label for="barcode">Hospital Barcode</label>
                <input type="text" name="barcode" id="barcode"/>
                {% for error in form.barcode.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-control-group">
                <label for="td_barcode">2D Barcode</label>
                <input type="text" name="td_barcode" id="2d-barcode"/>
                {% for error in form.td_barcode.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-control-group">
                <label for="position">Well position</label>
                <input type="text" name="position" id="well-position"/>
                {% for error in form.well_position.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">
                    Submit
                </button>
            </div>
    </form>
{% endblock %}
