{% extends "base.html" %}
{% block title %} Upload {% endblock %}
{% block head %}
{% endblock %}
{% block navs %}
<li class="pure-menu-item pure-menu-selected">
    <a class="pure-menu-link" href="/upload">
        Upload
    </a>
</li>
<li class="pure-menu-item">
    <a class="pure-menu-link" href="/search_form">
        Search
    </a>
</li>
{% endblock %}
{% block content %}
    <form class="pure-form pure-form-aligned" id="upload-form" method="POST" enctype="multipart/form-data" action="/upload">
        {% csrf_token %}
        <fieldset>
            <legend>Sample Upload Form</legend>
            <div class="pure-control-group">
                <label for="flexstar-csv">Flexstar CSV File</label>
                <input type="file" name="csv_file" id="flexstar-csv"/>
                {% for error in form.csv_file.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-control-group">
                <label for="hospital-xml">Hospital Sample XML</label>
                <input type="file" name="xml_file"/>
                {% for error in form.xml_file.errors %}
                    <div class="invalid-feedback">
                        {{ error|escape }}    
                    </div>
                {% endfor %}
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">
                    Upload
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}


